.blood-hero {
  height: 400px;
  background-image: url("../../blood.jpg");
  background-size: cover;
  padding: 0 !important;
  position: relative;
}

.blood-hero .overlay {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: rgba(248, 137, 162, 0.5);
}

.blood-hero h2 {
  font-weight: bold;
}
.posts {
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid #e9e7e7;
  margin-bottom: 10px;
  background-color: white;
}
.description-and-comment {
  padding: 30px;
  box-sizing: border-box;
}

.description-and-comments {
  text-align: left;
  font-size: 13px;
}
.comments {
  padding: 30px;
  border: 1px solid #e9e8e8;
  max-height: 500px;
  overflow: auto;
}
.comment {
  margin-bottom: -20px;
}
.comment,
.description {
  display: flex;
}
.description h6,
.comment h6 {
  margin-right: 10px;
}
.comment p {
  position: relative;
  cursor: pointer;
}
.reactions {
  width: 80px;
  position: absolute;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #e9e8e8;
  display: flex;
  top: 5px;
  right: -71px;
  background-color: white;
  justify-content: space-around;
  opacity: 0;
}

.comment p:hover .reactions {
  opacity: 1;
}
.fa-thumbs-up:hover {
  color: blue;
}
.fa-thumbs-down:hover {
  color: blue;
}
.fa-heart:hover {
  color: red;
}
.time {
  font-size: 11px;
  font-weight: bold;
  color: #a09898;
}
.comments h5 {
  position: relative;
}
.comment h6 {
  font-size: 13px;
}
.comments h5 span {
  position: absolute;
  bottom: -5px;
  font-size: 12px;
  color: gray;
}
.add-comment {
  display: flex;
}
.add-comment div:nth-child(1) {
  font-weight: bold;
  padding: 7px;
  width: 100px;
  border: 1px solid #b3adad;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 36px;
}
.add-comment div:nth-child(1):hover {
  background-image: linear-gradient(
    to right top,
    #a81976,
    #b92f89,
    #cb429c,
    #dd54b0,
    #ee65c4
  );
  color: white;
  border: none;
}
.add-comment div:nth-child(2) {
  flex: 1;
  min-height: 100px;
}
.add-comment textarea {
  min-height: 100px;
  width: 100%;
}
.add-comment-btn-plus {
  margin: 7px;
  width: 40px;
  height: 40px;
  position: absolute;
  border: none;
  display: flex;
  right: -20px;
  background-image: linear-gradient(
    to right top,
    #a81976,
    #b92f89,
    #cb429c,
    #dd54b0,
    #ee65c4
  );
  color: white;
  bottom: -13px;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}
.add-comment-btn-plus:hover {
  background-image: linear-gradient(
    to right top,
    #a81976,
    #b92f89,
    #cb429c,
    #dd54b0,
    #ee65c4
  );
  color: white;
  border: none;
  font-weight: bold;
}

/*********COMMENTS SCROLL BAR********/
.comments::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
.comments::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px gray;
  border-radius: 10px;
}

.comments::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b3adad;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
