.blood-hero {
  height: 400px;
  background-image: url("../../blood.jpg");
  background-size: cover;
  padding: 0 !important;
  position: relative;
}

.blood-hero .overlay {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: rgba(248, 137, 162, 0.5);
}

.blood-hero h2 {
  text-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  font-weight: bold;
}
.blood-hero p {
  font-weight: bold;
}
.posts {
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid #e9e7e7;
  margin-bottom: 10px;
  background-color: white;
}
.description-and-comment {
  padding: 30px;
  box-sizing: border-box;
}

.description-and-comments {
  text-align: left;
  font-size: 13px;
}
.comments {
  padding: 30px;
  border: 1px solid #e9e8e8;
  max-height: 500px;
  overflow: auto;
}
.comments h5 {
  color: #d959ab;
}
.comment {
  margin-bottom: -20px;
}
.comment,
.description {
  display: flex;
}
.description h6,
.comment h6 {
  margin-right: 10px;
}
.comment p {
  position: relative;
  cursor: pointer;
}
.reactions {
  width: 80px;
  position: absolute;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #e9e8e8;
  display: flex;
  top: 5px;
  right: -71px;
  background-color: white;
  justify-content: space-around;
  opacity: 0;
}

.comment p:hover .reactions {
  opacity: 1;
}
.fa-thumbs-up:hover {
  color: blue;
}
.fa-thumbs-down:hover {
  color: blue;
}
.fa-heart:hover {
  color: red;
}
.time {
  font-size: 11px;
  font-weight: bold;
  color: #a09898;
}
.comments h5 {
  position: relative;
}
.comment h6 {
  font-size: 13px;
}
.comments h5 span {
  position: absolute;
  bottom: -5px;
  font-size: 12px;
  color: gray;
}
.add-comment {
  display: flex;
}
.add-comment div:nth-child(1) {
  font-weight: bold;
  padding: 7px;
  width: 100px;
  border: 1px solid #b3adad;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 36px;
}
.add-comment div:nth-child(1):hover {
  background-image: linear-gradient(
    to right top,
    #a81976,
    #b92f89,
    #cb429c,
    #dd54b0,
    #ee65c4
  );
  color: white;
  border: none;
}
.add-comment div:nth-child(2) {
  flex: 1;
  min-height: 100px;
}
.add-comment textarea {
  min-height: 100px;
  width: 100%;
}
.add-comment-btn-plus {
  margin: 7px;
  width: 40px;
  height: 40px;
  position: absolute;
  border: none;
  display: flex;
  right: -20px;
  background-image: linear-gradient(
    to right top,
    #a81976,
    #b92f89,
    #cb429c,
    #dd54b0,
    #ee65c4
  );
  color: white;
  bottom: -13px;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}
.add-comment-btn-plus:hover {
  background-image: linear-gradient(
    to right top,
    #a81976,
    #b92f89,
    #cb429c,
    #dd54b0,
    #ee65c4
  );
  color: white;
  border: none;
  font-weight: bold;
}

/*********COMMENTS SCROLL BAR********/
.comments::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
.comments::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px gray;
  border-radius: 10px;
}

.comments::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b3adad;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
/*****************MEDIA QUERIES*************/

@media screen and (max-width: 767px) {
  .posts {
    padding: 0px !important;
  }
  .add-comment textarea {
    margin-top: 10px !important;
  }
  .p-4 {
    padding: 0 !important;
  }
  .comments {
    padding: 30px 15px !important;
  }

  .description {
    display: flex;
    flex-direction: column;
    padding: 7px;
  }
}

@media screen and (max-width: 550px) {
  .comment {
    display: flex;
    flex-direction: column;
  }
  .comment h6 {
    font-weight: bold !important;
    font-size: 14px;
    margin-bottom: -2px;
  }
  .comment p {
    position: relative;
    cursor: pointer;
    width: 150px;
    word-wrap: break-word;
  }
}
/************START ANIMATION********************/
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-11-17 13:24:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.text-flicker-in-glow {
  -webkit-animation: text-flicker-in-glow 4s linear both;
  animation: text-flicker-in-glow 4s linear both;
}

@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}
